img.textbook {
    float: right;
    width: 200px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-left: 10px;
}

div#info_table {
    padding-left: 5px;
}

div#info_table td:first-of-type {
    font-weight: bold;
}

div#goals ul {
    margin-top: -1em;
}

div#materials {
    margin-right: 200px;
    padding-right: 20px;
}

hr#footer_hr {
    clear: both;
}

#extra-challenges {
    clear: both;
}

div#ta_hours tr:first-of-type {
    font-weight: bold;
    text-decoration: underline;
}

div#ta_hours {
    padding-top: 10px;
}

div#ta_hours td {
    padding-right: 20px;
}
