table {
    margin-left: 40px;
    margin-right: 40px;
    border-collapse: collapse;
}

table td.hdr {
    border-bottom: 2px sold black;
    font-weight: bold;
}

table td {
    border: 1px solid black;
    padding: 3px;
}

.even {
    background-color: rgba(255, 255, 255, 0.1);
}
